// Place all the styles related to the Task controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h2{
  font-family: Arial;
}

.list{
  color: black;
  font-family: Arial;
  text-decoration: none;
}

.list:hover {
  color: blue;
}
